DB_ENDPOINT=
DB_KEY=
DB_DATABASE=
DB_CONTAINER=

HUBSPOT_API_KEY=
HUBSPOT_PORTAL_ID=
HUBSPOT_MESSAGES_FORM_GUID=
HUBSPOT_RESTORE_QUOTES_FORM_GUID=
HUBSPOT_CALLBACK_FORM_GUID=

APP_PORT=
APP_PROXY_URL=
APP_KEY_FILE=
APP_ACCOUNT_HOLDER=
APP_IBAN=